<!DOCTYPE html>
<html lang = "en-us"
<head>
    <title>hanahuss</title>
    <meta charset = "utf-8" />
    <!--add a link to quizStyle.css, rel "stylesheet" and type attribute "text/css" -->
        <link rel = "stylesheet"
              type = "text/css"
              href = "/static/menuStyle.css" />
        <!--have a reference link to the google fonts for "Cormorant Upright" and relative attribute "stylesheet" -->
        <link href='https://fonts.googleapis.com/css?family=Cormorant Upright&effect=outline' rel='stylesheet'>
</head>

<body>
    <h1>Main Page</h1>
    <h2>BMI Assignment</h2>
    <ul>
        <li><a href = "bmi">BMI</a></li>
        <li><a href = "bmi_BB">BMI BlackBelt</a></li>
    </ul>
    <h2>Final Project</h2>
    <ul>
        <li><a href = "start">Personality Quiz</a></li>
    </ul>
</body>