<!--Have a chunk of python code -->
<%
#Import request library
from bottle import request

#Request the “fourAnswer” from the previous page and set it equal to “fourAnswer”
fourAnswer = request.forms.get("fourAnswer")
#Request the “score” variable from the previous page and set it equal to “score”
score = request.forms.get("score")
#Request the “answers” from the previous page and set it equal to “answers”
answers = request.forms.get("answers")

#Cast score to an int
score = int(score)

#If fourAnswer is equal to “A”:
if(fourAnswer == "A"):
  #Increment score by 2
  score += 2
#Otherwise if fourAnswer is equal to “B”:
elif(fourAnswer == "B"):
  #Increment score by 1
  score += 1
#Otherwise if fourAnswer is equal to “C”:
elif(fourAnswer == "C"):
  #Decrement score by 1
  score -=1
#Otherwise if fourAnswer is equal to "D":
elif(fourAnswer == "D"):
  #Decrement score by 2
  score -= 2
#Otherwise, assuming there was no input:
else:
  #Set fourAnswer equal to the string 0
  fourAnswer = "0"
#end the python block
end

#Concatenate “fourAnswer” and a space key to answers variable
answers += fourAnswer + " "

#end the python code
end
%>

<!DOCTYPE html>
<!--Declare the html to be english -->
<html lang = "en-us">
    <!--In the head container: -->
    <head>
        <!--Make the title of the tab “Question 5” -->
        <title>Question 5</title>
        <!--Make the charset UTF-8 -->
        <meta charset = "utf-8"/>
                <!--add a link to quizStyle.css, rel "stylesheet" and type attribute "text/css" -->
        <link rel = "stylesheet"
              type = "text/css"
              href = "/static/quizStyle.css" />
        <!--have a reference link to the google fonts for "Cormorant Upright" and relative attribute "stylesheet" -->
        <link href='https://fonts.googleapis.com/css?family=Cormorant Upright&effect=outline' rel='stylesheet'>
    </head>

    <!--In the body container: -->
    <body>
        <!--Make a level 1 header saying “Question 5” -->
        <h1 class = "font-effect-outline">Question 5</h1>
        <!--Make a paragraph asking the Melancholic Question
        “You are an overthinker” -->
        <p class = "question">
            You are an overthinker.
        </p>
    <!--Make a form with action attribute that goes to “/q6” and post method attribute: -->
    <form action = "/q6"
          method = "post">
        <!--Make an input of type “hidden” that will send the data without the user seeing it:
            Name attribute will be “score”
            Value attribute will be the python value of “score” -->
        <input type = "hidden"
               name = "score"
               value = "{{ score }}" />
        <!--Make an input of type “hidden” that will send the data without the user seeing it:
            Name attribute will be “answers”
            Value attribute will be the python value of “answers” -->
        <input type = "hidden"
               name = "answers"
               value = "{{ answers }}" />

        <!--Make a paragraph for first answer option: -->
        <p>
            <!--Make an input of type radio:
                name attribute is “fiveAnswer”
                id attribute is “A”
                value attribute is also “A” -->
            <input type = "radio"
               name = "fiveAnswer"
               id = "A"
               value = "A" />
            <!--label attribute is “Strongly Agree” -->
            <label for = "A">Strongly Agree</label>
        </p>
        <!--Make a paragraph for second answer option: -->
        <p>
            <!--Make an input of type radio:
                name attribute is “fiveAnswer”
                id attribute is “B”
                value attribute is also “B” -->
            <input type = "radio"
               name = "fiveAnswer"
               id = "B"
               value = "B" />
             <!--label attribute is “Agree” -->
            <label for = "B">Agree</label>
        </p>
        <!--Make a paragraph for third answer option: -->
        <p>
            <!--Make an input of type radio:
                name attribute is “fiveAnswer”
                id attribute is “C”
            value attribute is also “C” -->
            <input type = "radio"
               name = "fiveAnswer"
               id = "C"
               value = "C"/>
             <!--label attribute is “Disagree” -->
            <label for = "C">Disagree</label>
        </p>
        <!--Make a paragraph for fourth answer option: -->
        <p>
            <!--Make an input of type radio:
                name attribute is “fiveAnswer”
                id attribute is “D”
                value attribute is also “D” -->
            <input type = "radio"
               name = "fiveAnswer"
               id = "D"
               value = "D"/>
             <!--label attribute is “Strongly Disagree” -->
            <label for = "D">Strongly Disagree</label>
        </p>
        <!--Make a paragraph for submit button: -->
        <p>
            <!-- Button type is “submit” -->
            <button type = "submit">
            <!--and the text will be “next” -->
            Next
        </button>
        </p>
    </form>
    <!--Make a form for back button: -->
    <form>
        <!--Button type is “button”, onclick event is “history.back()” method, text is “Back” -->
        <button type = "button"
                onclick = "history.back()">
            Back
        </button>
    </form>
    </body>