<!--Have a chunk of python code -->
<%
#Import request library
from bottle import request

#Request the “sevenAnswer” from the previous page and set it equal to “sevenAnswer”
sevenAnswer = request.forms.get("sevenAnswer")
#Request the “score” variable from the previous page and set it equal to “score”
score = request.forms.get("score")
#Request the “answers” from the previous page and set it equal to “answers”
answers = request.forms.get("answers")

#Cast score to an int
score = int(score)

#If sevenAnswer is equal to “A”:
if(sevenAnswer == "A"):
  #Increment score by 2000
  score += 2000
#Otherwise if sevenAnswer is equal to “B”:
elif(sevenAnswer == "B"):
  #Increment score by 1000
  score += 1000
#Otherwise if sevenAnswer is equal to “C”:
elif(sevenAnswer == "C"):
  #Decrement score by 1000
  score -=1000
#Otherwise if sevenAnswer is equal to "D":
elif(sevenAnswer == "D"):
  #Decrement score by 2000
  score -= 2000
#Otherwise, assuming there was no input:
else:
  #Set sevenAnswer equal to the string 0
  sevenAnswer = "0"
#end the python block
end

#Concatenate “sevenAnswer” and a space key to answers variable
answers += sevenAnswer + " "

#Dealing with possible negatives/score update errors if two “Strongly Disagrees” for Saguine were chosen:
#if the letter at the zeroth index and the twelfth index of answers are both "D":
if(answers[0] == "D" and answers[12] == "D"):
  #add 2000 back to score, since it was decremented in the previous calculation
  score += 2000
  #take the string value of score modulus 10, set it equal to local variable "phl"
  phl = str(score % 10)
  #take the string value of the floor division of score/10 modulus 10, set it equal to “mel” variable
  mel = str(int(score/10) % 10)
  #take the string value of the floor division of score/100 modulus 10, set it equal to "cho" variable
  cho = str(int(score/100) % 10)
  #set local variable “sag” to the string value of 0
  sag = "0"
  #make score the integer value of sag, cho, mel and phl concatentated together
  score = int(sag + cho + mel + phl)

#end the python code
end
%>

<!DOCTYPE html>
<!--Declare the html to be english -->
<html lang = "en-us">
    <!--In the head container: -->
    <head>
        <!--Make the title of the tab “Question 8” -->
        <title>Question 8</title>
        <!--Make the charset UTF-8 -->
        <meta charset = "utf-8"/>
        <!--add a link to quizStyle.css, rel "stylesheet" and type attribute "text/css" -->
        <link rel = "stylesheet"
              type = "text/css"
              href = "/static/quizStyle.css" />
        <!--have a reference link to the google fonts for "Cormorant Upright" and relative attribute "stylesheet" -->
        <link href='https://fonts.googleapis.com/css?family=Cormorant Upright&effect=outline' rel='stylesheet'>
    </head>

    <!--In the body container: -->
    <body>
        <!--Make a level 1 header saying “Question 8” -->
        <h1 class = "font-effect-outline">Question 8</h1>
        <!--Make a paragraph asking the Phlegmatic Question
        “You can be relied on to get the job done” -->
        <p class = "question">
            You can be relied on to get the job done.
        </p>
    <!--Make a form with action attribute that goes to “/q9” and post method attribute: -->
    <form action = "/q9"
          method = "post">
        <!--Make an input of type “hidden” that will send the data without the user seeing it:
            Name attribute will be “score”
            Value attribute will be the python value of “score” -->
        <input type = "hidden"
               name = "score"
               value = "{{ score }}" />
        <!--Make an input of type “hidden” that will send the data without the user seeing it:
            Name attribute will be “answers”
            Value attribute will be the python value of “answers” -->
        <input type = "hidden"
               name = "answers"
               value = "{{ answers }}" />

        <!--Make a paragraph for first answer option: -->
        <p>
            <!--Make an input of type radio:
                name attribute is “eightAnswer”
                id attribute is “A”
                value attribute is also “A” -->
            <input type = "radio"
               name = "eightAnswer"
               id = "A"
               value = "A" />
            <!--label attribute is “Strongly Agree” -->
            <label for = "A">Strongly Agree</label>
        </p>
        <!--Make a paragraph for second answer option: -->
        <p>
            <!--Make an input of type radio:
                name attribute is “eightAnswer”
                id attribute is “B”
                value attribute is also “B” -->
            <input type = "radio"
               name = "eightAnswer"
               id = "B"
               value = "B" />
             <!--label attribute is “Agree” -->
            <label for = "B">Agree</label>
        </p>
        <!--Make a paragraph for third answer option: -->
        <p>
            <!--Make an input of type radio:
                name attribute is “eightAnswer”
                id attribute is “C”
            value attribute is also “C” -->
            <input type = "radio"
               name = "eightAnswer"
               id = "C"
               value = "C"/>
             <!--label attribute is “Disagree” -->
            <label for = "C">Disagree</label>
        </p>
        <!--Make a paragraph for fourth answer option: -->
        <p>
            <!--Make an input of type radio:
                name attribute is “eightAnswer”
                id attribute is “D”
                value attribute is also “D” -->
            <input type = "radio"
               name = "eightAnswer"
               id = "D"
               value = "D"/>
             <!--label attribute is “Strongly Disagree” -->
            <label for = "D">Strongly Disagree</label>
        </p>
        <!--Make a paragraph for submit button: -->
        <p>
            <!-- Button type is “submit” -->
            <button type = "submit">
            <!--and the text will be “next” -->
            Next
        </button>
        </p>
    </form>
    <!--Make a form for back button: -->
    <form>
        <!--Button type is “button”, onclick event is “history.back()” method, text is “Back” -->
        <button type = "button"
                onclick = "history.back()">
            Back
        </button>
    </form>
    </body>