<!--Set up the doctype! -->
<!DOCTYPE html>
<!--Declare the html to be english -->
<html lang = "en-us">
    <!--In the head container: -->
    <head>
        <!--Make the title of the tab “Choleric Result” -->
        <title>Choleric Result</title>
        <!--Make the charset UTF-8 -->
        <meta charset = "utf-8"/>
                <!--add a link to quizStyle.css, rel "stylesheet" and type attribute "text/css" -->
        <link rel = "stylesheet"
              type = "text/css"
              href = "/static/quizStyle.css" />
        <!--have a reference link to the google fonts for "Cormorant Upright" and relative attribute "stylesheet" -->
        <link href='https://fonts.googleapis.com/css?family=Cormorant Upright&effect=outline' rel='stylesheet'>
    </head>

    <!--In the body container: -->
    <body>
        <!--Make a level 1 header saying “You got: Choleric!” -->
        <h1 class = "font-effect-outline">You got: Saguine!</h1>
        <p> </p>
        <h2>Overview - "Social Butterflies"</h2>
        <!--Make a paragraph explaining what saguine means. -->
        <p class = "question">
            Saguines are spontaneous, fun-loving people. They seek new experiences and adventures and have high energy levels.
        </p>
        <h2>Strengths</h2>
        <!--Make a paragraph with a list of three strengths -->
        <p>
            <ul>
                <li>Optimistic</li>
                <li>Good conversationalists</li>
                <li>Natural entertainers</li>

            </ul>
        </p>
        <h2>Weaknesses</h2>
        <!--Make a paragraph with a list of three weaknesses -->
        <p>
            <ul>
                <li>Selfish</li>
                <li>Like to flaunt successes</li>
                <li>Forgetful</li>
            </ul>
        </p>
        <!--Make a form with action attribute /start and post method attribute: -->
        <form action = "/start"
              method = "route">
            <p>
                <!--Make a button of type “submit” with name “Take Quiz Again” -->
                <button type = "submit">
                    Take the Quiz Again
                </button>
            </p>
        </form>